### 작업 1유형 
데이터 출처 : link (후처리 작업)  
데이터 설명 : 2010-2019 스포티파이 TOP100 노래  
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
print(df.shape)
df.head()

(1003, 17)

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

In [2]:
#Q1. 데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 
# 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라
# 현재 top year(2010~2019년)를 기준으로 1~100위가 순서대로 나열되어 있음, top year가 nan인 것도 있음  
print(df['top year'].unique())

# 1~100의 숫자열을 10번 반복해서 만들어 rank 컬럼에 넣는다. 
df = df.dropna()
df.loc[:,'rank'] = list(range(1,101))*10
display(df.head())

df[df['rank'] ==1].bpm.mean()

[2010. 2011. 2012. 2013. 2014. 2015. 2016. 2017. 2018. 2019.   nan]

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type,rank
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo,1
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo,2
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo,3
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo,4
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo,5

125.6

In [3]:
#Q2. 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?
df_2015 = df[df['top year'] == 2015 ]['artist'].value_counts()
df_2015
#Ans = Taylor Swift, The Weeknd

artist
Taylor Swift      4
The Weeknd        4
Selena Gomez      3
Fetty Wap         3
Avicii            2
                 ..
Mark Ronson       1
Alessia Cara      1
Meek Mill         1
Mumford & Sons    1
Zedd              1
Name: count, Length: 78, dtype: int64

In [4]:
#Q3. 년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?
df_top10 = df[df['rank'] <= 10]
df_top10['top genre'].value_counts()

#Ans = atl hip hop, british soul

top genre
dance pop                    40
atl hip hop                   7
british soul                  7
boy band                      4
garage rock                   3
detroit hip hop               3
melodic rap                   3
emo rap                       2
modern rock                   2
pop soul                      2
canadian contemporary r&b     2
latin                         2
canadian pop                  2
gangster rap                  1
grime                         1
art pop                       1
electropop                    1
basshall                      1
afroswing                     1
london rap                    1
social media pop              1
hip hop                       1
israeli pop                   1
east coast hip hop            1
metropopolis                  1
alt z                         1
kentucky hip hop              1
contemporary country          1
modern alternative rock       1
indie poptimism               1
indie rock                    1
bass trap                     1
la indie                      1
pop                           1
Name: count, dtype: int64

In [5]:
#Q4. 피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?
result = df.title.str.split('feat.').str[1].dropna().str[:-1]
print(result[:5]) 

Ans = result.value_counts().index[0]
Ans

0                      Katy Perry
1                           Ke$ha
3     Hayley Williams of Paramore
4                      Bruno Mars
5                    Rivers Cuomo
Name: title, dtype: object

' Bruno Mars'

In [6]:
#Q5. top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?
temp = df[df['year released'] != df['top year']]
temp['top year'].value_counts()

#Ans = 2016

top year
2016.0    37
2011.0    34
2010.0    33
2013.0    33
2015.0    31
2012.0    28
2017.0    26
2014.0    23
2019.0    21
2018.0    19
Name: count, dtype: int64

In [7]:
#Q6. artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?
df_q = df[df['artist'].str.contains('q', case=False, na=False)] 
## 옵션 : case=T/F ~ 대소문자 구분/비구분, na=T/F ~ 결축치 포함/제외
df_q['artist'].nunique()

6

In [9]:
#Q7. 년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?
df_1050 = df[(df['rank'] >= 1) & (df['rank'] <= 50) ]
df_51100 = df[(df['rank'] >= 51) & (df['rank'] <= 100) ]
Ans = df_1050['dur'].mean() - df_51100['dur'].mean()
Ans

## isin()을 사용하는 코드 
#df[df['rank'].isin(range(1,51))].dur.mean() - df[df['rank'].isin(range(51,101))].dur.mean()

0.896000000000015

In [38]:
#Q8. title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x, 피처링 제외)

## "(feat"를 기준으로 컬럼을 구분하고, 앞쪽을 선택 
df['title_1st']= df['title'].str.split(r'\(feat').str[0] 
print(df['title_1st'][:5])

## 띄어쓰기로 구분하고, explode() ~ 구분된 문자열 각각을 행으로 변환 
temp = df['title_1st'].str.split().explode()
print(temp[:5])

## 모두 소문자로 변환후 카운드 
temp.str.lower().value_counts()

# Ans = the

0        STARSTRUKK
1     My First Kiss
2    I Need A Dollar
3         Airplanes
4    Nothin' on You
Name: title_1st, dtype: object
0    STARSTRUKK
1            My
1         First
1          Kiss
2             I
Name: title_1st, dtype: object

title_1st
the        84
you        58
-          53
love       53
me         50
           ..
bottom      1
(100%)      1
monster     1
berzerk     1
pose        1
Name: count, Length: 1196, dtype: int64

In [42]:
#Q9. 년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라
t_max = df.groupby('top year')['nrgy'].agg('mean').max()
t_min = df.groupby('top year')['nrgy'].agg('mean').min()

t_max - t_min

13.860000000000007

In [58]:
#Q10. artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가
df.groupby('artist')['artist type'].nunique().sort_values(ascending=False)
#Ans = Rudimental

artist
Rudimental       2
2 Chainz         1
O.T. Genasis     1
Owl City         1
Otto Knows       1
                ..
Gotye            1
Gorgon City      1
Gesaffelstein    1
George Ezra      1
will.i.am        1
Name: artist type, Length: 444, dtype: int64

### 작업 2유형 
데이터 설명 : 센서데이터로 동작 유형 분류 (종속변수 pose : 0 ,1 구분)  
x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv  
y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv  
x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv

In [59]:
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

#ID는 불필요하므로 제외 
y = y_train.drop('ID', axis=1)
X = x_train.drop('ID', axis=1)
test_drop = test.drop('ID', axis=1)

In [65]:
# 변수 스케일링 후, 분리 
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_test_scaled = scaler.transform(test_drop)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.33, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(3115, 64) (1535, 64) (3115, 1) (1535, 1)

In [70]:
# 훈련 
lr = LogisticRegression()
lr.fit(X_train, y_train)

pred = lr.predict_proba(X_test)
pred

c:\Users\Seoyeon\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1310: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[0.37834377, 0.62165623],
       [0.49780271, 0.50219729],
       [0.190869  , 0.809131  ],
       ...,
       [0.52925625, 0.47074375],
       [0.56814884, 0.43185116],
       [0.48140692, 0.51859308]])

In [72]:
# 평가 
print('validation_auc : ', roc_auc_score(y_test, pred[:,1]))

validation_auc :  0.563216400478053

In [73]:
# 제출 
pd.DataFrame({'id': test.ID, 'pose': lr.predict_proba(X_test_scaled)[:,1]}).to_csv('submission3.csv', index=False)