### 작업 1유형
데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)  
데이터 설명 : 뇌졸증 발생여부 예측  
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke/train.csv

In [1]:
import numpy as np 
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
print(df.shape)
df.head()

(1137, 12)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [2]:
#1. 성별이 Male인 환자들의 age의 평균값은 ? 
#먼저 age의 불순물을 제거하고 숫자형으로 변경한다. 
print(df['age'].unique())
df['age'] = df['age'].str.replace('*','').astype('int64')
print(df['age'].dtypes)

df[df['gender'] == 'Male']['age'].mean()

['31' '13' '18' '65' '4' '28' '64' '62' '26' '63' '50' '77' '1' '52' '24'
 '48' '45' '74' '3' '17' '54' '55' '67' '35' '38' '81' '34' '44' '79' '56'
 '70' '30' '39' '29' '80' '59' '51' '19' '43' '71' '0' '23' '53' '78' '66'
 '60' '76' '22' '6' '47' '2' '46' '11' '33' '37' '49' '61' '75' '40' '8'
 '57' '12' '21' '41' '58' '27' '20' '68' '42' '5' '69' '9' '36' '25' '82'
 '73' '32' '7' '16' '14' '72' '15' '10' '*82']
int64

44.68623481781376

In [3]:
#2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
temp1 = df['bmi'].fillna(df['bmi'].median())
round(temp1.mean(), 3)

29.166

In [4]:
#3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
temp2 = df['bmi'].ffill()
round(temp2.mean(), 3)

29.188

In [10]:
#4.bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
# 결측치 제외 나이대별 평균값 계산 및 dictionary 형태로 변환
mean = df[df.bmi.notnull()].groupby(df.age//10 *10).bmi.mean()
dic = { x:y for x,y in mean.items()}

idx =df.loc[df.bmi.isnull(),['age','bmi']].index
# 결측치 매핑
df.loc[df.bmi.isnull(),'bmi']  =(df[df.bmi.isnull()].age//10*10).map(lambda x : dic[x])

result = df.bmi.mean()
result

29.2627029367386

In [11]:
#5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 
# stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라
df.loc[df.avg_glucose_level >=200,'avg_glucose_level'] =199
result = df[df.stroke ==1].avg_glucose_level.mean()
round(result, 3)

125.188

### 작업 1유형_다른 데이터
데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)  
데이터 설명 : 포켓몬 정보  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
print(df.shape)
df.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [24]:
#6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?
t_400 = df.sort_values('Attack',ascending=False).reset_index(drop=True)[:400]
t_800 = df.sort_values('Attack',ascending=False).reset_index(drop=True)[400:]

t_400.Legendary.sum() - t_800.Legendary.sum()

57

In [41]:
#7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?
temp = df.groupby('Type 1')['Total'].mean()
print(temp.sort_values(ascending=False))
print('-'*100)
temp.sort_values(ascending=False).index[2]

Type 1
Dragon      550.531250
Steel       487.703704
Flying      485.000000
Psychic     475.947368
Fire        458.076923
Rock        453.750000
Dark        445.741935
Electric    443.409091
Ghost       439.562500
Ground      437.500000
Ice         433.458333
Water       430.455357
Grass       421.142857
Fighting    416.444444
Fairy       413.176471
Normal      401.683673
Poison      399.142857
Bug         378.927536
Name: Total, dtype: float64
----------------------------------------------------------------------------------------------------

'Flying'

In [52]:
#8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라
df_na = df.dropna()
cut_60 = int(len(df_na) * 0.6)
print(cut_60)

temp = df.dropna()[:cut_60]
temp['Defense'].quantile(0.25)

248

50.0

In [57]:
#9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라
df_fire_attack_mean = df[df['Type 1'] == 'Fire']['Attack'].mean()
print('df_fire_attack_mean = ', df_fire_attack_mean) 

result = df[(df['Type 1'] == 'Water') & (df['Attack'] >= df_fire_attack_mean)]
result.shape[0]

df_fire_attack_mean =  84.76923076923077

37

In [80]:
#10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?
t1 = df.groupby('Generation')[['Speed', 'Defense']].mean()
display(t1)

# diff() 함수 사용을 위해 행/열 전환 
display(t1.T.diff())

# 절대값 계산 후 다시 행/열 전환 
display(abs(t1.T.diff()).T) 

# sort 
display(abs(t1.T.diff()).T.sort_values(by='Defense', ascending=False)) 

## 정답 : 2 세대

                Speed    Defense
Generation
1           72.584337  70.861446
2           61.811321  73.386792
3           66.925000  74.100000
4           71.338843  78.132231
5           68.078788  72.327273
6           66.439024  76.682927

Generation         1          2      3         4         5          6
Speed            NaN        NaN    NaN       NaN       NaN        NaN
Defense    -1.722892  11.575472  7.175  6.793388  4.248485  10.243902

            Speed    Defense
Generation
1             NaN   1.722892
2             NaN  11.575472
3             NaN   7.175000
4             NaN   6.793388
5             NaN   4.248485
6             NaN  10.243902

            Speed    Defense
Generation
2             NaN  11.575472
6             NaN  10.243902
3             NaN   7.175000
4             NaN   6.793388
5             NaN   4.248485
1             NaN   1.722892

### 작업 2유형
데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)  
데이터 설명 : 뇌졸증 발생여부 예측  
train : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv  
test : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv

In [84]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [85]:
# 데이터 전처리 
train['age'] =train['age'].str.replace('*','').astype('int')
train['bmi'] = train['bmi'].fillna(train['bmi'].mean())
test['bmi'] = test['bmi'].fillna(test['bmi'].mean())

# 데이터셋 분리 및 더미 인코딩 
y = train['stroke']
X = train.drop('stroke', axis=1)
Xd = pd.get_dummies(X)
print(X.shape, Xd.shape, y.shape)

(1137, 11) (1137, 22) (1137,)

In [88]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xd, y, test_size=0.2, random_state=42, stratify=y)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(909, 22) (228, 22) (909,) (228,)

In [93]:
#학습
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, classification_report

rf = RandomForestClassifier()
rf.fit(X_train,y_train)
pred = rf.predict_proba(X_test)
print(pred[:10])
print('-'*100)

print('test roc score : ', roc_auc_score(y_test,pred[:,1]))

[[0.99 0.01]
 [1.   0.  ]
 [0.97 0.03]
 [1.   0.  ]
 [0.8  0.2 ]
 [0.97 0.03]
 [0.93 0.07]
 [0.86 0.14]
 [1.   0.  ]
 [0.7  0.3 ]]
----------------------------------------------------------------------------------------------------
test roc score :  0.826147042564953

In [ ]:
# 제출파일 : 테스트파일의 0~228행 까지만 예측치를 기입하여 제출함 
pd.DataFrame({'id': test.id[:228], 'stroke': pred[:,1]}).to_csv('submisson2.csv', index=False)